body{
    &#page-home {
        #searchbox {
            display: none !important;
           }
        .hometext {
            color: #FFF;
            font-size: 25px;
            font-weight:bold;
            padding: 50px;
        }
        .homepageimage {
            height: 75%;
            width: auto;
            padding-top: 50px;
            border-radius: 3px;
            float: right;
        }
        .card {
            color:#FFF;
            margin: 0 0 40px 0;
            background-color: $secondary-color;
            box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
            padding: 12px;
            text-align: center;
            border: solid 1px #eaeaea;
            border-radius: 3px;
        }
        .responsive {
            width: 100%;
            height: auto;
        }
    }
}   