header {
    nav {        
        background-color: $lightgreen-color;

        a,
        a:hover {
            text-decoration: underline;
        }
        a:active

        ul li a i {
            margin-right: 2px;
        }

        .nav-link {
            color: #FFF;
            text-transform: uppercase;
            font-weight: 200;
            &:hover {
                color:#FFF;
                text-decoration: underline;
            }
            
        }
    }
}